<div
  class="card mx-4 mb-5"
  placement="bottom"
  ngbTooltip="Total: {{ order.totalPrice }}₪"
>
  <!-- Card Header -->
  <div class="card-header d-flex justify-content-between">
    <h5>
      <span class="badge badge-secondary">#{{ order.orderID }}</span>
    </h5>
    <h5>
      <span class="badge badge-light">{{ orderTime }}</span>
    </h5>
  </div>
  <!-- Card Body -->
  <div class="row card-body">
    <div class="list-group">
      <div
        class="list-group-item mx-2 mb-1 history-item text-center"
        *ngFor="let item of order.items"
      >
        <small>{{ item.quantity }} <small>x</small> {{ item.name }}</small>
      </div>
    </div>
  </div>
  <!-- Card Footer -->
  <div class="card-footer d-flex justify-content-center">
    <button class="btn btn-sm btn-primary" (click)="onReorder()">
      Reorder
    </button>
  </div>
</div>
