<div class="row">
  <div class="col-md-8">
    <form id="orderForm" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <!-- <div class="form-group">
        <label for="item">Item Name</label>
        <input
          type="text"
          id="item"
          class="form-control"
          formControlName="item"
        />
      </div>
      <div class="form-group">
        <label for="item">Amount</label>
        <input
          type="number"
          id="amount"
          class="form-control"
          formControlName="amount"
        />
      </div> -->

      <div class="row">
        <div class="col-md-6" *ngFor="let item of menu">
          <app-menu-item
            [item]="item"
            (click)="onAddItemToCart(item)"
          ></app-menu-item>
        </div>
      </div>
    </form>
  </div>

  <!-- Shopping Cart -->
  <div class="col-md-4">
    <app-cart></app-cart>
  </div>
</div>
