<div class="row">
  <div class="col-md-8">
    <div *ngFor="let category of menu">
      <h3  class="text-center">{{ category[0] }}</h3>
      <div class="row">
        <div class="col-md-6" @fade *ngFor="let item of category[1]">
          <app-menu-item
            [item]="item"
            (click)="onAddItemToCart(item)"
          ></app-menu-item>
        </div>
      </div>
    </div>
  </div>

  <!-- Shopping Cart -->
  <div class="col-md-4">
    <app-cart @fade></app-cart>
  </div>
</div>
