<div class="card">
  <div class="card-body">
    <button
      (click)="onSubmitOrder()"
      class="btn btn-primary rounded-0 btn-block"
      [disabled]="shoppingCart.length == 0"
    >
      Submit
    </button>
    <p *ngIf="shoppingCart.length > 0" class="text-center">
      Total price: ₪{{ totalPrice }}
    </p>
    <hr />

    <p *ngIf="shoppingCart.length == 0">Your cart is empty</p>

    <ul *ngFor="let item of shoppingCart; let i = index" class="list-group">
      <div class="list-group-item">
        <a>{{ item.name }} - ₪{{ item.price }}</a>
        <small class="pull-right remove-btn" (click)="onRemoveItem(i)">Remove</small>
      </div>
    </ul>
  </div>
</div>
