<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Bon App'</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a class="nav-item nav-link" routerLink="/home">Home</a>
                </li>
                <li routerLinkActive="active">
                    <a class="nav-item nav-link" routerLink="/order">Order Now</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a class="nav-item nav-link" routerLink="/history">Order History</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a class="nav-item nav-link" routerLink="/login">Login</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a class="nav-item nav-link" routerLink="/signup">Sign Up</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAdmin">
                    <a class="nav-item nav-link admin_options" routerLink="/activities">Active Orders</a
          >
        </li>
    <!-- routerLink="/controladmin" -->
    <li class="nav-item dropdown" routerLinkActive="active" *ngIf="isAdmin">
        <a class="nav-link dropdown-toggle admin_options" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Control Admin
      </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/controladmin/menu">Menu Manager</a>
                        <a class="dropdown-item" routerLink="/controladmin/users">Users Manager</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="isAuthenticated">
        <app-notifications></app-notifications>
    </div>

    <div class="navbar-text">
        <span *ngIf="userName">Welcome Back, {{ userName }}!</span>
        <span *ngIf="!userName">Hello, guest!</span>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
            <a (click)="onLogout()">Logout</a>
        </li>
    </ul>
</nav>