.navbar-text {
    color: white;
}

.navbar-right {
    color: white;
    margin-left: 2%;
    cursor: pointer;
}

.navbar {
    z-index: 2;
    opacity: 0.8;
    font-size: 16px;
    font-weight: bold;
}


/*code to change background color of admin options*/

.navbar-nav>.active>a.admin_options:hover,
.nav-item.active .nav-link,
.nav-item:hover .nav-link,
.dropdown-menu {
    color: white;
    opacity: 0.8;
    background-color: #265077;
    border-radius: 5px;
}